body {
  font-family: arial;
  background-color: black;
  color: #DDD;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.column:first-child {
  margin-right: 1rem;
}

button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
}

button:not(:last-child) {
  margin-bottom: 0.2rem;
}

.survival button.selected {
  background-color: #df3838;
}

.objective button.selected {
  background-color: #21c221;
}

.collectibles button.selected {
  background-color: #fbd818;
}

.endless button.selected {
  background-color: #e44ce4;
}

.perks button.selected {
  background-color: #00caca;
}

.survival #dataKey {
  color: #df3838;
}

.objective #dataKey {
  color: #21c221;
}

.collectibles #dataKey {
  color: #fbd818;
}

.endless #dataKey {
  color: #e44ce4;
}

.perks #dataKey {
  color: #00caca;
}

table {
  border-spacing: 0.1rem;
  background-color: #111;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:nth-child(odd) {
  background-color: #333;
}

th,
td {
  padding: 0.3rem 0.5rem;
}

th,
.capitalize,
td:first-child {
  text-transform: capitalize;
}

td:not(:first-child) {
  text-align: center;
  vertical-align: middle;
}

.helper-text {
  display: none;
}
