body {
  font-family: arial;
  background-color: black;
  color: #DDD;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

button:not(:last-child) {
  margin-bottom: 0.2rem;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.survival button.selected {
  background-color: #df3838;
}

.objective button.selected {
  background-color: #21c221;
}

.collectibles button.selected {
  background-color: #fbd818;
}

.endless button.selected {
  background-color: #e44ce4;
}

.perks button.selected {
  background-color: #00caca;
}

.survival #dataKey {
  color: #df3838;
}

.objective #dataKey {
  color: #21c221;
}

.collectibles #dataKey {
  color: #fbd818;
}

.endless #dataKey {
  color: #e44ce4;
}

.perks #dataKey {
  color: #00caca;
}

#content {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.map {
  background-color: #444;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  width: 12rem;
}

#dataKey {
  text-transform: uppercase;
}

.map__name {
  text-transform: capitalize;
  margin-top: 0;
}

#all-players,
.players {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.player,
.player-name {
  list-style: none;
  transition: opacity 0.3s;
  transition-timing-function: ease-in-out;
}

.player-name {
  text-transform: capitalize;
  margin: 0.2rem;
  padding: 0.2rem;
  color: #222;
  cursor: pointer;
}

.player {
  margin: 0.1em;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.player0 {
  background-color: violet;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: magenta;
}

.player3 {
  background-color: cyan;
}

.player4 {
  background-color: orange;
}

.player5 {
  background-color: yellow;
}

.player6 {
  background-color: #0F0;
}

.fade {
  opacity: 0.1;
}
